<script src="https://www.gstatic.com/firebasejs/5.5.3/firebase.js"></script>
<script>
    var config = {
        apiKey: "AIzaSyARwGhrrIfDZqMOnnKpb0vRTT6zBWbNRiU",
        authDomain: "coral-velocity-218522.firebaseapp.com",
        databaseURL: "https://coral-velocity-218522.firebaseio.com",
        projectId: "coral-velocity-218522",
        storageBucket: "coral-velocity-218522.appspot.com",
        messagingSenderId: "921564285159"
    };

    // Initialize your Firebase app
    firebase.initializeApp(config);
</script>
<meta charset="UTF-8">
<title>Event Creation Form</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
<script src="https://cdn.firebase.com/libs/firebaseui/3.4.1/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.4.1/firebaseui.css" />
<script>
    // Track the UID of the current user.
    var currentUid = null;
    firebase.auth().onAuthStateChanged(function(user) {
        // onAuthStateChanged listener triggers every time the user ID token changes.
        // This could happen when a new user signs in or signs out.
        // It could also happen when the current user ID token expires and is refreshed.
        console.log(user);
        var user = user;
        if (user && user.uid != currentUid) {
            // Update the UI when a new user signs in.
            // Otherwise ignore if this is a token refresh.
            // Update the current user UID.
            currentUid = user.uid;
            // document.body.innerHTML = '<h1> Congrats ' + user.displayName + ', you are done! </h1> <h2> Now get back to what you love building. </h2> <a onclick="firebase.auth().signOut();">logout</a> <h2> Need to verify your email address or reset your password? Firebase can handle all of that for you using the email you provided: ' + user.email + '. <h/2>';
        } else {
            // Sign out operation. Reset the current user UID.
            currentUid = null;
            console.log("no user signed in");
        }
    });
</script>