<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <% include includes/config %>

    <script type="text/javascript">
    </script>
    <script>
        // Track the UID of the current user.
        var currentUid = null;
        firebase.auth().onAuthStateChanged(function(user) {
            // onAuthStateChanged listener triggers every time the user ID token changes.
            // This could happen when a new user signs in or signs out.
            // It could also happen when the current user ID token expires and is refreshed.
            console.log(user);
            var user = user;
            if (user && user.uid != currentUid) {
                // Update the UI when a new user signs in.
                // Otherwise ignore if this is a token refresh.
                // Update the current user UID.
                currentUid = user.uid;
                document.body.innerHTML = '<h1> Congrats ' + user.displayName + ', you are done! </h1> <h2> Now get back to what you love building. </h2> <a onclick="firebase.auth().signOut();">logout</a> <h2> Need to verify your email address or reset your password? Firebase can handle all of that for you using the email you provided: ' + user.email + '. <h/2>';
            } else {
                // Sign out operation. Reset the current user UID.
                currentUid = null;
                console.log("no user signed in");
            }
        });
    </script>
    <style>
        body {
            background-color: #fcfbf8;
            margin-left:50px;
            margin-right:50px;
        }
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 30%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
<% include includes/header %>
<div class="ui grid">
    <div class="sixteen wide column">
        <h1>Welcome to Planery!</h1>
    </div>
    <div class="sixteen wide column">
        <h2 style = "color:darkblue;font-size: 200%">
            Event Planning Innovation at its Finest
        </h2>
    </div>
    <div class="sixteen wide column">
        <p>
            We are a team of innovative thinkers.
            We hope to use cutting-edge technology and resources to fundamentally change the world.
            Our app helps users plan and schedule events with their friends quickly and conveniently.
        </p>
    </div>

</div>
<% include includes/footer %>


</body>
</html>