<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--<script src="node_modules/firebaseui/dist/firebaseui.js"></script>-->
    <!--<link type="text/css" rel="stylesheet" href="node_modules/firebaseui/dist/firebaseui.css" />-->
</head>
<body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>You're on <%= path %></p>

</body>
</html>
